body
{
    background-image: url("Gradient.webp");
    background-position: center;
    background-size: cover;
}

.header_div
{
background: rgb(195, 146, 255); 
color: #37ffff;
font-size: 26px; 
font-family: "Oleo Script Swash Caps";
}

.header_div p
{

font-family: "Oleo Script Swash Caps";
color: Igray; 
letter-spacing: 2px; 
font-size: 20px; 
font-weight: bold;
}

.main_div button
{
font-family: "Creepster"; 
margin-top: 30px; 
width: 130px; 
font-weight: bolder; 
letter-spacing: 3px;
}



.copy_right_footer 
{ 
	position: fixed; 
	color: #000000; 
	bottom: 0; 
	width: 100%; 
	font-family: "Creepster"; 
	font-size: 25px; 
	background: rgb(255, 181, 233); 
	line-height: 3; 
	text-align: center; 
	text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
